.app {
  display: table;
  height: 100%;
  width: 100%;
  h1 {
    display: table-cell;
    height: 100vh;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    padding: 0;
    img {
      height: 100px;
      width: auto;
      margin: 0 auto;
      display: block;
      vertical-align: middle;
      animation-name: rotate;
      animation-iteration-count: infinite;
      animation-duration: 3s;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
